<span class="module-name">
    {{moduleName}}
</span>
<span class="project-name">
    {{projectName}} Adarsh Technologies
</span>
<span class="project-desc">
    {{projectDescription}} - software for every one
</span>

