body {
    background: none repeat scroll 0 0 #F5F1E8;
    color: #666666;
    font: 300 16px/1.5 "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 0;
    padding: 0 0 20px;
}

.wrapper {
    height: 100%;
    margin: 0 auto;
    position: relative;
    width: 900px;
}
.nav-header {
    background-color: #75A319;
    border-bottom: 0 none;
    color: #FFFFFF;
    font-family: 'Helvetica';
    font-size: 13px;
    font-weight: 100;
    height: 40px;
    position: relative;
	position: fixed;
    top: 0;
	width: 900px;
    z-index: 10;
}

ul {
    padding: 0;
	margin : 0;
	list-style-type: none;
}
h1{
	padding : 0;
	margin : 0;
}
.nav-header ul {
    padding-left: 1.125em;
}
.nav-header .logo-text {
    margin-left: 0;
    margin-right: 15px;
    padding-left: 0;
    text-transform: none;
}
.nav-header li {
    float: left;
    line-height: 40px;
    padding: 0 0.625em;
    text-transform: uppercase;
	display: inline;
}

.nav-header a {
    color: #FFFFFF;
}
a {
    color: #FF5D55;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}
a {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
}


.page-container
{
	background : #fefefe;
	min-height : 620px;
	padding : 0px 15px;
	margin-top: 40px;
	border: 1px solid #CBCBCB;
}
.nav-sidebar
{
	width:197px;
	float : left;
	border-right:1px solid #CBCBCB;
	height : 600px;
	overflow: scroll;
}
.home-page
{
	float: right;
    padding-left: 10px;
    width: 660px;
}




/*------------------------ Working for wall ------------------*/

.message-form
{
	border-bottom:1px solid #CBCBCB; 	
	padding: 15px 5px;
}
.message
{
	width:400px;
	height: 100px;
	border-radius: 10px;
	border: 1px solid #EBD085;
	font: 300 16px/1.5 "Helvetica Neue",Helvetica,Arial,sans-serif;
	padding: 5px;
}
#submit-post
{
	background: #75A319;
	padding:6px 5px;
	width: 80px;
	display: inline-block;
	border-radius: 4px;
	cursor: pointer;
	color: #fefefe;
	font: 500 16px/1.5 "Helvetica Neue",Helvetica,Arial,sans-serif;
}
