body {
    background: none repeat scroll 0 0 #F5F1E8;
    color: #666666;
    font: 300 16px/1.5 "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 0;
    padding: 0 0 20px;
}

.wrapper {
    height: 100%;
    margin: 0 auto;
    position: relative;
    width: 900px;
}
.nav-header {
    background-image: url("../img/btn-green.png");
    border-bottom: 0 none;
    color: #FFFFFF;
    font-family: 'Helvetica';
    font-size: 13px;
    font-weight: 100;
    height: 40px;
    position: relative;
	position: fixed;
    top: 0;
	width: 900px;
    z-index: 10;
}

ul {
    padding: 0;
	margin : 0;
	list-style-type: none;
}
h1{
	padding : 0;
	margin : 0;
}
.nav-header ul {
    padding-left: 1.125em;
}
.nav-header .logo-text {
    margin-left: 0;
    margin-right: 15px;
    padding-left: 0;
    text-transform: none;
}
.nav-header li {
    float: left;
    line-height: 40px;
    padding: 0 0.625em;
    text-transform: uppercase;
	display: inline;
}

.nav-header a {
    color: #FFFFFF;
}
a {
    color: #FF5D55;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}
a {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
}


.page-container
{
	background : #fefefe;
	min-height : 620px;
	padding : 0px 15px;
	margin-top: 40px;
	border: 1px solid #CBCBCB;
}
.nav-sidebar
{
	width:197px;
	float : left;
	border-right:1px solid #CBCBCB;
	height : 600px;
	overflow: scroll;
}
.home-page
{
	float: right;
    padding-left: 10px;
    width: 660px;
}




/*------------------------ Working for wall ------------------*/

.message-form
{
	border-bottom:1px solid #CBCBCB; 	
	padding: 15px 5px;
}
.message-box
{
	width:400px;
	height: 100px;
	border-radius: 10px;
	border: 1px solid #EBD085;
	font: 300 16px/1.5 "Helvetica Neue",Helvetica,Arial,sans-serif;
	padding: 5px;
}
.submit
{
	background: #75A319;
	padding:6px 5px;
	width: 90px;
	display: inline-block;
	border-radius: 4px;
	cursor: pointer;
	color: #fefefe;
	font: 500 16px/1.5 "Helvetica Neue",Helvetica,Arial,sans-serif;
}

/* ----------------------------- Working for login ------------------------- */

.login-container{
    margin: 50px auto ;
    width: 480px;
}
.sign-title {
    background: none repeat scroll 0 0 #888;
    color: #FEFEFE;
    font-weight: bold;
    padding: 6px;
    text-align: center;
}
.content {
    border: 1px solid #ccc;
    border-radius: 0 0 5px 5px;
    font-family: verdana;
    line-height: 55px;
    padding: 10px 25px;
}
.label1 {
    display: inline-block;
    font-size: 16px;
    font-weight: normal;
    width: 140px;
}
.textbox {
    border: 1px solid #596571;
    border-radius: 5px;
    height: 28px;
    line-height: 28px;
    padding: 2px;
    width: 275px;
}
.sign-in {
    background-image: url("../img/btn-green.png");
    border-radius: 5px;
    color: #FEFEFE;
    cursor: pointer;
    margin-left: 120px;
    padding: 5px 8px;
    width: 90px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	display: inline-block;
	border: 0;
}


/* ----------------------Working Project Management -----------------*/
.pm-project{
    color: #fefefe;
    padding: 4px;
    text-align: center;
    /*vertical-align: baseline;*/
    /*cursor: pointer;*/
    overflow: hidden;
}
/*.pm-project:hover{
    opacity: 0.8;
}*/
.pm-project .project-logo{ 
    background: none repeat scroll 0 0 #fff;
    border: 1px solid;
    border-radius: 50%;
    margin: 20px 0 10px 60px;
    overflow: hidden;
    padding: 3px;
    width: 60px;
    height: 60px;
    cursor: pointer;
}
.pm-project .project-logo img{
    width: 60px;
    border: none;
}
.pm-project .project-title {
    text-transform: capitalize;
    word-wrap: break-word;
    cursor: pointer;
}
.pm-project .project-setting {
    float: right;
    width: 30px;
    height: 33px;
    background-repeat: no-repeat;
    cursor: pointer;
    background-image: url('../img/setting.png');
}
.project-wrapper{
    padding: 10px;
}
.project-wrapper .project-header{
    border-bottom: 1px dashed;
    margin-bottom: 25px;
    padding-bottom: 5px;
}
.project-wrapper .project-title {
    color: #000;
    display: block;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 2px;
    text-transform: capitalize;
}
.project-wrapper .project-desc {
    color: #aa9c84;
}
.todo-list {
    font-family: helvetica;
}
.todo-list .todo-header{
    background: none repeat scroll 0 0 #dcdcdb;
    color: #1c5c76;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: 40px;
    padding: 12px;
    text-transform: capitalize;
    width: 100%;
}
.todo-list .todo-header:hover {
    text-decoration: underline;
}
.todolist-container {
    line-height: 12px;
    margin-bottom: 12px;
}
.todolist-container:hover .todolist-action-button {
    display: inline-block;
}
.todo-list .todolist-action-button {
    display: none;
    position:absolute;
}
.todo-list ul {
    padding: 0;
    margin: 0;
}
.todo-list ul li {
    list-style: outside none none;
}
.todo-list .todos-container {
    margin-bottom: 30px;
}
.todo-list .todo-desc {
    color: #333;
    cursor: pointer;
    text-transform: capitalize;
    font-size: 14px;
}
.todo-list .todo-desc:hover {
    color: #508195;
    text-decoration: underline;
}
.todo-list .desc-content {
    margin-left: 38px;
}
.todo-list .todos-action-button {
    position:absolute;
    display: none;
    line-height: 17px;
}
.todo-content{
    line-height: 20px;
}
.todo-content:hover .todos-action-button{
    display: inline-block;
}
.edit-todo, .delete-todo, .delete-todolist{
    font-size: 12px;
    cursor: pointer;
}
.edit-todo:hover{
    text-decoration: underline;
}
.edit-todo:hover{
    color: #508195;
}
.delete{
    background-image: url('../img/delete-3.gif');
    background-repeat:no-repeat;
    width: 12px;
    display: inline-block;
    line-height: 12px;
}
.new-todolist-container{
    border-bottom: 1px dashed;
    line-height: 36px;
    margin-bottom: 18px;
    padding-bottom: 10px;
}
.new-todolist-container h4{
    color: #cc0000;
    display: inline-block;
    font-size: 24px;
    font-weight: normal;
    width: 150px;
}
.new-todo-container .add-todo-button{
    color: #1c92d1;
    cursor: pointer;
    margin:12px 0 0 60px;
    text-decoration: underline;
}
.todo-new{
    background: none repeat scroll 0 0 #f0f0f0;
    border: 1px solid #ecfffc;
    border-radius: 4px;
    line-height: 36px;
    margin: 0px 0 10px 45px;
    padding: 10px 15px;
    width: 600px;
}
.longText{
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    height: 32px;
    padding: 5px;
    width: 600px;
    color: #111;
}
.todo-new label{
    display: inline-block;
    margin-right: 16px;
    width: 280px;
}

.button1{
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #000;
    font-family: "Lucida Grande","Helvetica Neue",helvetica,arial,sans-serif;
    font-size: 13px;
    line-height: 16px;
    padding: 3px 10px;
    cursor: pointer;
}

.hide{
    display: none;
}
.show{
    display: inline-block;
}

.select1{
    width: 160px;
    height: 23px;
    font-size: 13px;
}
